.about-heading{
    padding-top: 16%;
    font-size: 6rem;
    font-weight: 700;
    background:#DD1D4A;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.about-text {
    font-size: 1.7rem;
    color: #181717;
    margin: auto;
}
@media only screen and (max-width: 600px) {
    .about-heading{ 
        font-size: 3rem;
    }
    .about-text {
        font-size: 1rem;
    }
  }