

.box{
    background-color: #faebd7;
}
.contact-container{
    padding: 100px 0;
}
.contact-card:hover{
    background-color: #f16d6d;
    color: white;
    transition: .7s;
    cursor: pointer;
}
.contact-card:hover .icon{
    color: white;
    transition: .5s;
}
@media only screen and (max-width: 600px) {
    .contact-container{
        width: 80%;
        
    }
    .contact-card{
        margin: 20px auto;
    }
  }